<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SpnVendorName" value=" Sibz Solutions"/>
    <add key="VendorSite" value="http://www.sibzsolutions.com/"/>
    <add key="ProjectName" value="Accounts"/>
    <add key="LoadPdf" value="\Upload\Reports\"/>
    <add key="PageTitle" value="Accounting Solutions"/>
    <add key="DateFormat" value="dd/mm/yyyy"/>
    <add key="UploadTransactionImageFolderPath" value="Upload\ExcelUpload\"/>
    <add key="APIURL" value="http://asolution.co.in/sibzapi/SIBZAPI.svc/"/>
    <!--
    <add key="APIURL" value="http://103.233.76.155/sibzapi/SIBZAPI.svc/"/>
    <add key="APIURL" value="http://weindian.in/sibzapi/SIBZAPI.svc/"/>
    -->
    <add key="CompanyName" value="CompanyName"/>
    <add key="EMailSendId" value="2"/>
    <add key="StrDateFormat" value="d-M-Y"/>
    <add key="MSTaxStateNo" value="27"/>
    <add key="HideAddNewForMenuId" value="10,11,12,13,14,15,21"/>
    <add key="HSNFolderPath" value="Upload/Files/HSNFilesUploaded/"/>
    <add key="InvoiceReverseCharge" value="NO"/>
  </appSettings>
  <connectionStrings>
    <!--Mindson-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <!--Go Daddy DB-->
    <!--<add name="AdminConnection" connectionString="data source=43.255.152.26;Initial Catalog=sibzaccounts_1;User Id=sibzaccounts_1;Pwd=sibZ@1234" />-->
    <!--<add name="AdminConnection" connectionString="data source=KISHORE-TDS\SQLEXPRESS;Initial Catalog=sibzaccounts_1;User Id=sa;Pwd=info@123;Connect Timeout=60000"/>-->
    <!--Local VPS-->
    <!--<add name="AdminConnection" connectionString="data source=SANDHANI50193\SQLEXP2012;Initial Catalog=sibzaccounts;User Id=sa;Pwd=sibZ@1234" />-->
    <!--Public LIVE VPS-->
    <add name="AdminConnection" connectionString="data source=103.233.76.155\SQLEXP2012;Initial Catalog=sibzaccounts;User Id=sibzaccounts;Pwd=sibZ@1234" />
    <!--Public Test VPS-->
    <!--<add name="AdminConnection" connectionString="data source=103.233.76.155\SQLEXP2012;Initial Catalog=sibztest;User Id=sa;Pwd=sibZ@1234" />-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="20" mode="InProc" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <securityPolicy>
        <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="AccountApp.SIBZAPI">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding"
          contract="AccountApp.ISIBZAPI" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding"
                        address="mex" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors> 
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"   httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>